# Configurações de Ambiente de Desenvolvimento (Local)
VITE_API_URL=http://localhost:8000/api
VITE_WS_URL=http://localhost:3001

# Configurações de Ambiente de Produção (Exemplo num Servidor)
# Quando fores publicar o projeto num domínio, comentas os links de localhost e usas estes:
# VITE_API_URL=https://api.oteudominio.pt/api
# VITE_WS_URL=wss://ws.oteudominio.pt
